#appmenu li[data-id='activity'] {
    display: none;
}

#emptycontentCustom, .emptycontentCustom {
    color: var(--color-text-maxcontrast);
    text-align: center;
    margin-top: 30vh;
    width: 100%;
}

#emptycontentCustom h2:nth-child(2) {
    margin-bottom: 1rem !important;
}

#emptycontentCustom [class^='icon-']:not([class^='icon-loading']), #emptycontentCustom [class^='icon-']:not([class*='icon-loading']), #emptycontentCustom [class*='icon-']:not([class^='icon-loading']), #emptycontentCustom [class*='icon-']:not([class*='icon-loading']), .emptycontentCustom [class^='icon-']:not([class^='icon-loading']), .emptycontentCustom [class^='icon-']:not([class*='icon-loading']), .emptycontentCustom [class*='icon-']:not([class^='icon-loading']), .emptycontentCustom [class*='icon-']:not([class*='icon-loading']) {
    opacity: 0.4;
}

#emptycontentCustom h2 {
    font-size: 1.25rem !important;
}

#emptycontentCustom [class^='icon-'], #emptycontentCustom [class*='icon-'], .emptycontentCustom [class^='icon-'], .emptycontentCustom [class*='icon-'] {
    background-size: 192px;
    height: 192px;
    width: 192px;
    margin: 0 auto !important;
}

#emptycontentCustom p {
    font-size: 1.25rem !important;
    font-weight: normal !important;
}
